<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Email</title>
</head>
<body>
<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #ff0000; color: #ffffff;">
        Verify Email
    </h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi {{user.get_fullname}},</p>
        <p>You created an account on Online_shop.com. You need to verify your email. Please click on the button below:</p>

        <a href="http://localhost:8000{% url 'verify-email-confirm' uidb64=uid token=token %}" style="text-decoration: none;">
            <button style="border: none; color: #ffffff; background-color: #ff0000; padding: 15px 20px; font-weight: bold; text-decoration: none; border-radius: 5px; cursor: pointer;">
                Verify Email
            </button>
        </a>

        <p style="margin-top: 40px;">Or copy this link to your browser:</p>
        <p>{{ scheme }}://{{ domain }}{% url 'verify-email-confirm' uidb64=uid token=token %}</p>

        <p>The Onlineshop Team</p>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <p>© {{ year }} <a href="https://delighto.medium.com">Blog</a></p>
        <p>Follow us on <a href="https://twitter.com/DelightGbolahan">Twitter</a></p>
    </div>
</div>
</body>
</html>
